<script type="text/ng-template" id="templates/login.html">
<form ng-submit="login(credentials)">
    
</form>
</script>
<script type="text/ng-template" id="templates/home.html">
    I'm home
</script>