<script type="text/ng-template" id="templates/login.html">
asdfasdfasdfasd
<form ng-submit="login(credentials)">
    
</form>
</script>
<script type="text/ng-template" id="templates/home.html">
    I'm home jasdkjfas
</script>