doctype html
html(ng-app="app" ng-cloak ng-strict-di)
head
	title Nark
	link(rel="stylesheet" type="text/css" href="/style.css")
	include ./main/config/vendorstyles.jade
	meta(name="viewport" content="initial-scale=1")
body(ng-controller="MainCtrl as main" layout="column")
	include ./main/config/header.jade
	div(ui-view)
	include ./main/config/vendorscripts.jade
	script(src="/app.min.js")
